{{ '\033[1m' }}# {% filter upper %}{{ directory }}{% endfilter %} [{{ tasks.storypoints }}]{{ '\x1b[00m' }}{% for pcontact in tasks.primary_contacts %}

{{ '\033[1m' }}## {{ team.name(pcontact) }}'s tasks [{{ tasks.tasks_for(pcontact).storypoints }}]{{ '\x1b[00m' }}
{% for task in tasks.tasks_for(pcontact) %}
- {{ '\033[93m' }}[{{ task["theme"] }}]{{ '\033[00m' }} {{ task["title"] }} [{{ task["storypoints"] }}]{% endfor %}{% endfor %}
