{% filter colored("white", attrs=["bold"]) -%}
# {{ directory|upper }} [{{ tasks.storypoints }}]
{%- endfilter %}
{%- for pcontact in tasks.primary_contacts %}

{% filter colored("white", attrs=["bold"]) -%}
## {{ team.name(pcontact) }}'s tasks [{{ tasks.tasks_for(pcontact).storypoints }}]
{%- endfilter %}
{% for task in tasks.tasks_for(pcontact) %}
{% filter colored("yellow") %}[{{ task["theme"] }}]{% endfilter %} {{ task["title"] }} [{{ task["storypoints"] }}]
{%- endfor %}
{%- endfor %}
